__pycache__/
*.py[cod]
.pytest_cache/
node_modules/
frontend/dist/

# local/mac/python
.DS_Store
.venv/
__pycache__/
*.pyc

# Build artifacts
build/
dist/
release/
frontend/electron-dist/
*.spec
.local_projects/
backend/data/projects/autosave.json
